<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/users/<%= user._id %>/chillies">My Chilli Collection</a>
        <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign in</a>
        <a href="/auth/sign-up">Sign up</a>
    <% } %>
    <a href="/chillies">Community Chillies</a>
</nav>