<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chillies</title>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
    <h1>My Chillies</h1>
    <% if (chillies.length > 0) { %>
        <p>Here are the chillies you've added, <%= user.username %> - you can view information about them below!</p>
        <ul>
            <% chillies.forEach((chilli) => { %>
                <li><a href="chillies/<%= chilli._id %>"><%= chilli.name %></a></li>
            <% }) %>
        </ul>
        <a href="./chillies/new">Add a chilli</a>
    <% } else { %>
        <p>Looks like you haven't added any chillies yet - wanna get started <a href="./chillies/new">here</a>?</p>
    <% } %>
</body>
</html>